*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none;
}
.header__list__item > a{
    text-decoration: none;
    color: black;
}

/* zona header con stile  */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
}
.header__right, .header__left{
    flex-basis: 30%;
}
.header__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header__list__item{
    padding: 0 15px;
    width: max-content;
    white-space: nowrap;
}
a[class^=button]{
    width: max-content;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0661ff;
}

/* section con immagine che poi dovrà sbordare  */

.hero{
    background-color: #b4d0e7;
    min-height: 853px;
}
.hero .row{
    row-gap: 32px;
}
.container__big{
    max-width: 1262px;
    margin: 0 auto;
    padding-top: 20px;
}
.row__title{
    width: 100%;
    padding-top: 60px;
}
.col__title{
    font-weight: 700;
    font-size: 96px;
}
.row__description{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 30px;

}
.col__description{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    position: relative;
}
.text__description{
    padding-bottom: 30px;
    font-size: 23px;
}
.text__description.down{
    margin: 30px 0;
}
.col__description i{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 50px;
}
.col__img{
    display: flex;
    flex-basis: 70%;
}
img{
    width: 100%;
    height: 100%;
}

/* zona middle con container ridotto e la maggior parte delle sezioni del sito  */
/* PRIMA PARTE CON DEFAULT COLONNE E CONTAINER CON ROW  */
.container{
    max-width: 1044px;
    margin: 0 auto;
    padding: 50px 0;
}
.row{
    width: 100%;
    margin-bottom: 20px;
}
.col__12{
    width: calc(100% * (12/12));
    padding: 20px;
}
.col__4{
    width: calc(100% * (4/12));
    padding: 20px;
}
.col__8{
    width: calc(100% * (8/12));
    padding: 20px;
}
.col__2{
    width: calc(100% * (2/12));
    padding: 20px;
}
.col__2{
    flex-basis: calc(100% * (2/12));
    padding: 20px;
}

/* SPECIFICHE PER LA SCELTA DELLE quattro COLONNE  */

.plan{
    display: flex;
    flex-direction: row;
}
.choise{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px ;
}
.title{
    padding-bottom: 60px;
    font-size: 45px;
}
label{
    margin-right: 65px;
}
.user__box{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    font-size: 15px;
    padding: 10px 3px;
    font-weight: 300;
}
.user__card > li{
    padding: 10px 10px;
}
.user__card{
    border: 1px solid black;
    height: 100%;
    padding: 17px;
}
.user__text{
    display: flex;
}
#regolation{
    margin-top: 18px;
}
.riga{
    color: grey;
}
.fa-solid{
    padding: 0 5px;
}
.user__program{
    font-weight: bold;
    font-size: 20px;
}
.user__price, .recap{
    font-weight: bold;
}
.user__month{
    font-weight: 100;
    color: grey;
}
.fa-check{
    color: #0661ff;
}
.user__box__bottom{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    font-size: 15px;
    padding: 10px 3px;
    font-weight: 300;
    flex-basis:calc(100% * (12/12)) ;
}
.bottom{
    display: inline;
    float: right;
}
.recap__bottom{
    margin-bottom: 30px;
    font-weight: bold;
}
.user__text__bottom{
    margin-bottom: -50px;
    padding-top: 60px;
    display: flex;
}

/* SEZIONE CON FOTO E TESTO LATERALE  */

.picture{
    display: flex;
    flex-direction: row;
}
.partner{
    width: 100%;
    height: 100%;
}
.picture__title{
    font-weight: bold;
    padding:20px 0;
    font-size: 27px;
    margin-top: 35px;
    line-height: 33px;
}
.picture__text{
    padding-bottom: 40px;
    font-size: 19px;
}
.picture__button{
    background-color: white;
    border: 1px solid black;
    font-weight: lighter;
    line-height: 20px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}


/* SEZIONE CON OPERAZIONI CHE PUOI EFFETTUARE */

.operation__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.title__operation{
    font-size: 48px;
    font-weight: bold;
}
.operation__item{
    height: 100%;
}
.operation__title{
    font-weight: bold;
    font-size: 25px;
}
.operation__text{
    font-size: 16px;
    padding: 25px 0;
}


/* SEZIONE CON IL LINK DEI CLIENTI  */

.client__title{
    font-size: 45px;
    font-weight: bold;
}


/* SEZIONE CON I VARI MEMBRI DEL TEAM  */
.members{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.members__logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
}
.members__center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    justify-content: space-around;
    margin: 0;
}
.right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding: 0;
}
.left{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}
.center{
    padding: 0;
}
.col__12.right > div, .col__12.left > div{
    width: 50%;
    height: 50%;
}
.members__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.team{
    width: 47%;
    height: 41%;
}
.florida__height{
    height: 17%;
}
#designit{
    background-color: #a2d39b;
}
#arizona{
    background-color: #61082b;
}
#florida{
    background-color: #0093ce;

}
#topps{
    background-color: #ff1c1c;
}


.team__center{
    width: 50%;
    height: fit-content;
    fill: white;
}
.riga__center{
    background-color:#f5f5f5 ;
    text-align: left;
    padding: 20px 0;
    border-bottom: 1px solid grey;
    width: 95px;
    margin-bottom: 35px;
}
.text__center{
    margin-bottom: 35px;
}
#bycicle{
    background-color: #d5001f;
}
#hearst{
    background-color:#b4d0e7 ;
}
#lonely{
    background-color: #0d2481;
}
#clear{
    background-color: #ffd830;
}
.center__background{
    background-color: #f5f5f5;
}


/* SEZIONE CON LA PUBBLICITA DROPBOX BUSINESS  */


.business{
    background-color: #b4d0e7;
}
.business__button{
    background-color: white;
    font-weight: lighter;
    line-height: 20px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.business__item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 50px 0 ;
}
.button__title{
    font-weight: bold;
    font-size: 50px;
    margin: -20px;
}

/* SEZIONE CON LA PARTE DI FAQ  */

.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-right: 0;
    padding: 30px 0;
}
.fa-angle-down{
    margin-right: 20px;
}

/* sezione del footer  */
.dropbox__menu{
    background-color: black;
}
.dropbox__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dropbox__list__item > a{
    text-decoration: none;
    color: white;
    padding: 10px 0;

}