*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none;
}
.header__list__item > a{
    text-decoration: none;
    color: black;
}

/* zona header con stile  */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
}
.header__right, .header__left{
    flex-basis: 30%;
}
.header__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header__list__item{
    padding: 0 15px;
    width: max-content;
    white-space: nowrap;
}
a[class=button]{
    width: max-content;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0661ff;
}

/* section con immagine che poi dovrà sbordare  */

.hero{
    background-color: #b4d0e7;
    min-height: 853px;
}
.hero .row{
    row-gap: 32px;
}
.container__big{
    max-width: 1255px;
    margin: 0 auto;
    padding-top: 20px;
}
.row__title{
    width: 100%;
    padding-top: 60px;
}
.col__title{
    font-weight: 700;
    font-size: 96px;
}
.row__description{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 30px;

}
.col__description{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    position: relative;
}
.text__description{
    padding-bottom: 30px;
    font-size: 23px;
}
.text__description.down{
    margin: 30px 0;
}
.col__description i{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 50px;
}
.col__img{
    display: flex;
    flex-basis: 70%;
}
img{
    width: 100%;
    height: 100%;
}

/* zona middle con container ridotto e la maggior parte delle sezioni del sito  */
/* PRIMA PARTE CON DEFAULT COLONNE E CONTAINER CON ROW  */
.container{
    max-width: 1044px;
    margin: 0 auto;
    padding: 50px 0;
}
.row{
    width: 100%;
    margin-bottom: 20px;
}
.col__12{
    width: calc(100% * (12/12));
    padding: 20px;
}
.col__4{
    width: calc(100% * (4/12));
    padding: 20px;
}
.col__8{
    width: calc(100% * (8/12));
    padding: 20px;
}

/* SPECIFICHE PER LA SCELTA DELLE quattro COLONNE  */

.plan{
    display: flex;
    flex-direction: row;
}
.choise{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px ;
}
.title{
    padding-bottom: 60px;
    font-size: 45px;
}
label{
    margin-right: 65px;
}
.user__box{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    font-size: 15px;
    padding: 10px 3px;
    font-weight: 300;
}
.user__card > li{
    padding: 10px 10px;
}
.user__card{
    border: 1px solid black;
    height: 100%;
    padding: 17px;
}
.user__text{
    display: flex;
}
#regolation{
    margin-top: 18px;
}
.fa-solid{
    padding: 0 5px;
}
.user__program{
    font-weight: bold;
    font-size: 20px;
}
.user__price, .recap{
    font-weight: bold;
}
.user__month{
    font-weight: 100;
    color: grey;
}
.fa-check{
    color: #0661ff;
}
.user__card__bottom{
    border: 1px solid black;
    height: 100%;
    padding: 17px;
    position: relative;
}
.user__card__bottom > li{
    padding: 10px 10px;
}
.bottom{
    float:right;
    position: absolute;
    top: 28px;
    right: 19px;
    
}
/* SEZIONE CON FOTO E TESTO LATERALE  */

.picture{
    display: flex;
    flex-direction: row;
}
.partner{
    width: 100%;
    height: 100%;
}
.picture__title{
    font-weight: bold;
    padding:20px 0;
    font-size: 27px;
    margin-top: 35px;
    line-height: 33px;
}
.picture__text{
    padding-bottom: 40px;
    font-size: 19px;
}
.picture__button{
    background-color: white;
    border: 1px solid black;
    font-weight: lighter;
    line-height: 20px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}


/* SEZIONE CON OPERAZIONI CHE PUOI EFFETTUARE */

.operation__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.title__operation{
    font-size: 48px;
    font-weight: bold;
}
.operation__item{
    height: 100%;
}
.operation__title{
    font-weight: bold;
    font-size: 25px;
}
.operation__text{
    font-size: 16px;
    padding: 25px 0;
}

